/* comune */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 20px auto;
}
/* fine comune */


/* header */
header {
    height: 150px;
    background-color: rgb(230, 127, 224);
}
/* fine header */


/* main */

/* article */
article {
    height: 500px;
    background-color: rgb(223, 215, 134);
    margin: 20px 0px;
}
/* fine article */

/* section */
section {
    background-color: rgb(58, 132, 247);
}

section .lightblue {
    background-color: rgb(179, 206, 228);
}

section .title {
    height: 80px;
    margin-bottom: 15px;
}

section .content {
    height: 500px;
    float: left;
    margin-bottom: 15px;
}

section .right.content, section .left.content {
    width: 20%;
}

section .middle.content {
    width: calc(60% - 30px);
    margin: 0px 15px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
/* fine section */

/* fine main */


/* footer */
footer {
    height: 60px;
    background-color: rgb(125, 22, 245);
    margin-top: 5px;
}
/* fine footer */